<div class="container">
<div class="row">
<%= form_with(model: dogrun, local: true) do |f| %>
  <% if dogrun.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% dogrun.errors.full_messages.each do |message| %>
        <h2><%= message %></h2>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dogrun_name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :business_hours %>
    <%= f.time_select :opening_at  %>　〜
    <%= f.time_select :closing_at  %>
  </div>

  <div class="field">
    <%= f.label :price %> 
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :breadth %>
    <%= f.text_field :breadth  %>
  </div>

  <div class="field">
    <%= f.label :other %>
    <%= f.text_field :other  %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= image_tag(@dogrun.image.url, size: '200x200')  if @dogrun.image && @dogrun.image.url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

</div>
</div>