
<h3><%= search_form_for @q do |f| %>
    <%= f.label :dogrun, "住所から検索" %>
    <%= f.search_field :address_cont %>
    <%= f.submit t('search') %>
  <% end %></h3>

<div id="contents">

<section id="new">

  <h2>ドッグラン一覧</h2>


<div class="ta1">
  <% if log_in? %>
<caption><%= link_to t('ドッグラン登録'), new_dogrun_path, class:"btn btn-info" %></caption>
<% end %>
</div>


<div class="list">
<section id="new">

  <tbody>
    <% @dogruns.each do |dogrun| %>
      <tr>
        <a><td><%= link_to dogrun.name, dogrun , class:"btn btn-primary"%></td><a>
        <td><%= dogrun.address %></td>
        <td><%= image_tag dogrun.image.url, size: '200x200' %></td>
        <% if log_in? && dogrun.user.id == current_user.id %>
        <td><%= link_to t('Edit'), edit_dogrun_path(dogrun) , class:"btn btn-primary"%></td>
        <td><%= link_to t('Destroy'), dogrun, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %></td>
        <% end %>
      </div>
      </tr>
    <% end %>
  </tbody>
</div>
</div>
</section>

</div>

<section>
<div class='p-top__paginate'><%= paginate @dogruns %>
<%= page_entries_info @dogruns %></div>
</section>

</table>
</div>


