<div class="container">
  <div class="row">
    


  <h4>ドッグラン一覧</h4>
<div class="card-body">
<div class="col-sm">
  <%= search_form_for @q do |f| %>
    <%= f.label :dogrun, "住所から検索" %>
    <%= f.search_field :address_cont %>
    <%= f.submit t('search') %>
  <% end %>

  <% if log_in? %>
<%= link_to t('ドッグラン登録'), new_dogrun_path, class:"btn btn-info" %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= t('dogrun_name') %></th>
      <th><%= t('address') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @dogruns.each do |dogrun| %>
      <tr>
        <td><%= link_to dogrun.name, dogrun , class:"btn btn-primary"%></td>
        <td><%= dogrun.address %></td>
        <td><%= image_tag dogrun.image.url, size: '200x200' %></td>
        <% if log_in? && dogrun.user.id == current_user.id %>
        <td><%= link_to t('Edit'), edit_dogrun_path(dogrun) , class:"btn btn-primary"%></td>
        <td><%= link_to t('Destroy'), dogrun, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %></td>
        <% end %>
      </div>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @dogruns %>
<%= page_entries_info @dogruns %><br>

      </div>
    </div>
  </div>
</div>



