<p id="notice"><%= notice %></p>

<h1>Dogruns</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>adress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogruns.each do |dogrun| %>
      <tr>
        <td><%= dogrun.name %></td>
        <td><%= dogrun.adress %></td>
        <td><%= image_tag dogrun.dogrun_image.url %></td>
        <td><%= link_to 'Show', dogrun %></td>
        <% if log_in? && dogrun.user.id == current_user.id %>
        <td><%= link_to 'Edit', edit_dogrun_path(dogrun) %></td>
        <td><%= link_to 'Destroy', dogrun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dogrun', new_dogrun_path %>
