<h2>ドッグラン一覧</h2>

<%= search_form_for @q do |f| %>
    <h3><%= f.label :dogrun, "住所から検索" %>
    <%= f.search_field :address_cont %>
    <%= f.submit t('search') %>
    </h3>
<% end %>

<% if log_in? %>
<h4><%= link_to t('ドッグラン登録'), new_dogrun_path %></h4>
<% end %>

<div class="main">
<% @dogruns.each do |dogrun| %>
  <section class="card">
    <%= image_tag dogrun.image.url,class:"card-img"%>
      <div class="card-content">
      <h1 class="card-title"><%= dogrun.name %></h1>
      <p class="card-text"><%= dogrun.address %></p>
    <div class="card-link">
        <%= link_to t('詳細'), dogrun_path(dogrun) %>      
        <% if log_in? && dogrun.user.id == current_user.id %>
        <%= link_to t('編集'), edit_dogrun_path(dogrun) %>
        <%= link_to '削除', dogrun_path(dogrun), method: :delete, data: { confirm: '本当に削除していいですか?' }  %>
        <% end %>
    </div>  
  </section>
<% end %>
</div>  s

<%= paginate @dogruns %>
<%= page_entries_info @dogruns %>