<style>
#mainimg {
  display:none;
}
</style>

<div class="login">
  <p class="login-text">
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
    <% @user.errors.full_messages.each do |message| %>
        <h2><%= message %></h2>
  <% end %>
      </ul>
    </div>
<% end %>
    <%= f.text_field :name, class: "usercreate", autofocus: "true", required: "true", placeholder: "名前"%><br>
    <%= f.email_field :email, class: "usercreate", autofocus: "true", required: "true", placeholder: "Email"%><br>
    <%= f.password_field :password, class: "usercreate", autofocus: "true", required: "true", placeholder: "Password"%><br>
    <%= f.password_field :password_confirmation, class: "usercreate", autofocus: "true", required: "true", placeholder: "確認用Password"%><br>  
    <%= f.label :image, class: "usercreate" %><br>
    <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
    <%= f.file_field :image,class: "usercreate"%>
    <%= f.hidden_field :image_cache %><br>

    <%= f.submit "登録する", class: "login-submit" %><br>
</p>
<% end %>
  </div>
</div>
 </div>