<div class="container">
  <%= video_tag "/videos/Dog.mp4", autoplay: true, loop: true, muted: true, width: "100%;", height: "100%;" %>

  <div class="row">
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    
      <ul>
    <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
  <% end %>
      </ul>
    </div>
<% end %>
  
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form_control' %><br>

    <%= f.label :email %><br>
    <%= f.email_field :email, class: 'form_control' %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form_control' %><br>

    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: 'form_control' %><br>

    <%= f.label :image %><br>
    <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %><br>

    <%= f.submit "登録する", class: 'btn btn-primary' %><br>

<% end %>
  </div>
</div>