<% if log_in? && @user.id == current_user.id %>
<h1>マイページ</h1>
<% else %>
<h1>プロフィール<h1>
<% end%>
<p><%= notice %></p>

<h4>名前: <%= @user.name %></h4>
<h4>コメント: <%= @user.profile %></h4>
<h4>プロフィール画像:   <%= image_tag @user.image.url %></h4>

<% if log_in? && @user.id == current_user.id %>
<%= link_to 'プロフィールを編集する', edit_user_path(@user) %>
<% end%>
<% if log_in? %>
<%= render 'follow_form', user: @user %>
<% end%>


<h1>愛犬</h1>
<table>
  <thead>
    <tr>
      <th>iamge</th>
      <th>name</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mydogs.each do |mydog| %>
      <tr>
        <td><%= image_tag mydog.image.url %></td>
        <td><%= mydog.name %></td>
        <td><%= link_to 'Show', mydog %></td>
        <% if log_in? && mydog.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_mydog_path(mydog) %></td>
        <td><%= link_to 'Destroy', mydog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if log_in? && @user.id == current_user.id %>
<h3>愛犬を登録する</h3>
<%= form_with model: @mydog, local: true  do |f| %>
<%= f.hidden_field :user_id, value: @user.id %>
  <% if @mydog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mydog.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @mydog.errors.full_messages.each do |mydog| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= image_tag(@mydog.image.url) if @mydog.image && @mydog.image.url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
<% end %>


<% if log_in? && @user.id == current_user.id %>
<div class="new_task"><%= link_to "ドッグラン作成画面", new_dogrun_path, class:"btn btn-primary" %></div>
<% end %>
<div class="my_task"><%= link_to "ドッグラン一覧", dogruns_path, class:"btn btn-primary" %></div>
