<td class="container">
  <div>
  <% if log_in? && @user.id == current_user.id %>
      <h2>マイページ</h2>
  <% else %>
      <h3>プロフィール</h3>
  <% end%>
  </div>

<table>
  <tbody>
    <tr>
  <% if @user.image? %>
      <td><%= image_tag @user.image.url, size: '200x200' %></td>
  <% else %>
      <td><%= image_tag "/assets/default.jpg", size: '100x100' %></td>
  <% end %>
    </tr>
      <tr><%= @user.name %></tr>
      <tr>コメント: <%= @user.profile %></tr>
  <% if log_in? && @user.id == current_user.id %>
      <td><%= link_to 'プロフィールを編集する', edit_user_path(@user) %></td>
  <% end%>
  <% if log_in? && @user.id != current_user.id %>
      <td><%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post %></<td>
      <td><%= render 'follow_form', user: @user %></td>
  <% end%>
      <td><%= link_to "フォローしている人", following_user_path(@user) %></td>
      <td><%= link_to "フォロワー", followers_user_path(@user) %></td>
    </tr>
  </tbody>
</table>

  <h2>愛犬</h2>
  <table>
      <thead>
        <tr>     
          <th colspan="3"></th>
        </tr>
      </thead>
    <tbody>
      <% @mydogs.each do |mydog| %>
        <tr>
          <td><%= image_tag mydog.image.url, size: '200x200' %></td>
          <td><%= mydog.name %></td>
          <td><%= link_to '詳細', mydog %></td>
        <% if log_in? && mydog.user_id == current_user.id %>
          <td><%= link_to '編集', edit_mydog_path(mydog) %></td>
          <td><%= link_to '削除', mydog_path(mydog.id), method: :delete, data: { confirm: '本当に削除していいですか?' } %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if log_in? && @user.id == current_user.id %>
    <h3>愛犬を登録する</h3>
    <%= form_with model: @mydog, local: true  do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>

    <% if @mydog.errors.any? %>
      <div id="error_explanation">       
        <ul>
        <% @mydog.errors.full_messages.each do |message| %>
          <h2><%= message %></h2>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.radio_button :gender, :male %>男の子 
    <%= f.radio_button :gender, :female %>女の子
  </div>

  <div class="field">
    <%= f.label :image %>（必須）<br />
    <%= image_tag(@mydog.image.url) if @mydog.image && @mydog.image.url %>
    <%= f.file_field :image %>
    <%#= input type="file",class="sell-upload-drop-file",multiple="multiple",name="image[]",style="display: none"%>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

    <% end %>
  <% end %>

  <div class="actions">
    <% if log_in? && @user.id == current_user.id %>
      <%= link_to "ドッグラン作成画面", new_dogrun_path, class:"btn btn-primary" %>
    <% end %>
  <%= link_to 'ドッグランに戻る',  dogruns_path, class:"btn btn-primary" %>
  </div>
  
</div>