<div class="container">
  <div class="row">
<%= form_with(model: @mydog, local: true) do |f| %>
  <% if @mydog.errors.any? %>
    <div id="error_explanation">
      
      <ul>
      <% @mydog.errors.full_messages.each do |message| %>
        <h2><%= message %></h2>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= image_tag(@mydog.image.url) if @mydog.image && @mydog.image.url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </div>

  <div class="field">
    <%= f.label :age%>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.radio_button :gender, :male %>男の子 <%= f.radio_button :gender, :female %>女の子 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <%= link_to 'Back', user_path(@mydog.user_id) %>
<% end %>
  </div>
</div>