<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @mydog.image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mydog.name%>
</p>

<p>
  <strong>Breed:</strong>
  <%= @mydog.breed%>
</p>

<p>
  <strong>Age:</strong>
  <%= @mydog.age%>
</p>

<p>
  <strong>Gender:</strong>
  <%= @mydog.gender%>
</p>



<%= link_to 'Edit', edit_mydog_path(@mydog) %> |
<%= link_to 'Back', user_path(@mydog.user_id) %>
