<div class="container">

<p>
  <%= image_tag @mydog.image.url %>
</p>

<p>
  <strong><%= t('name') %>　:</strong>
  <%= @mydog.name%>
</p>

<p>
  <strong><%= t('breed') %>　:</strong>
  <%= @mydog.breed%>
</p>

<p>
  <strong><%= t('age') %>　:</strong>
  <%= @mydog.age%>
</p>

<p>
  <strong><%= t('sex') %>　:</strong>
  <%= @mydog.gender%>
</p>


<% if log_in? && @mydog.user_id == current_user.id %>
<%= link_to '愛犬を編集する', edit_mydog_path(@mydog) %> |
<% end %>
<%= link_to 'プロフィール画面に戻る', user_path(@mydog.user_id) %>

</div>
</div>