
<p>
  <strong>Image:</strong>
  <%= image_tag @mydog.image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mydog.name%>
</p>

<p>
  <strong>Breed:</strong>
  <%= @mydog.breed%>
</p>

<p>
  <strong>Age:</strong>
  <%= @mydog.age%>
</p>

<p>
  <strong>Gender:</strong>
  <%= @mydog.gender%>
</p>


<% if log_in? && @mydog.user_id == current_user.id %>
<%= link_to 'Edit', edit_mydog_path(@mydog) %> |
<% end %>
<%= link_to 'Back', user_path(@mydog.user_id) %>
