<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('title') %>　:</strong>
  <%= @post.title%>
</p>

<p>
  <strong><%= t('content') %>　:</strong>
  <%= @post.content %>
</p>

<% if @post.image.url present? %>
<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url %>
</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', dogrun_path(@post.dogrun_id) %>

</div>
</div>