<p id="notice"><%= notice %></p>

<p>
  <strong>Posttitle:</strong>
  <%= @post.title%>
</p>

<p>
  <strong>content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', dogrun_path(@post.dogrun_id) %>
