<!DOCTYPE html>
<html lang="ja">
　<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>初心者向けホームページテンプレート tp_beginner5</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/style.css">

  <head>
    <title>みんなのドッグラン！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> 

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
  </body>

</html>
  <header id="header">
    <div class="logo">
      <h2>みんなのドッグラン！</h2>
    </div>
    <% if current_user %>
      <ul>
        <li><%= link_to 'ドッグラン一覧', dogruns_path(current_user.id)  %></li>
        <% if current_user.admin? %>
          <li><%= link_to 'ユーザー一覧', admin_users_path(current_user.id) %></li>
        <% end %>
        <li><%= link_to 'ログアウト', logout_path, method: :delete,　class: 'nav-link'  %></li>
        <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
      </ul>
    <% else %>
      <ul>
      <%= link_to t('sigin_up'), new_user_path %>
      <%= link_to t('ログイン'), new_session_path %>
      </ul>
    <% end %>
  </header>
    <%= yield %>  
  <footer >
    <div class="container">
    <p class="m-0 text-center text-white">運営会社　うえき 株式会社</p>
    <p>© 2020 Copyright Dogs Corp.</p>
    </div>
  </footer>
</html>
