<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>みんなのドッグラン！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> 

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
  </body>

<header id="header">
      <h1><%= image_tag "/assets/イメージ.jpg", size: '200x500' %></h1>
</header>

<nav id="menubar">
      <ul>
        <li><%= link_to 'ドッグラン一覧', dogruns_path  %></li>
    <% if current_user %>
        <% if current_user.admin? %>
          <li><%= link_to 'ユーザー一覧', admin_users_path(current_user.id) %></li>
        <% end %>
        <li><%= link_to 'ログアウト', logout_path, method: :delete,　class: 'nav-link'  %></li>
        <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
    <% else %>
      <li><%= link_to t('sigin_up'), new_user_path %></li>
      <li><%= link_to t('ログイン'), new_session_path %></li>
      </ul>
    <% end %>
  </nav>

<div id="contents">

<section>

    <%= yield %>  
  <footer >
    <small>Copyright© UEKI All Rights Reserved.</small>
    <span class="pr">運営会社うえき株式会社</span>
    </div>
  </footer>